* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: "Courgette", cursive;
  list-style: none;
}

body {
  width: 100%;
}

.body-galeria {
  background-color: rgba(99, 140, 11, 0.1098039216);
}

.main-galeria {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.animacion-titulo, .galeria-titulo:hover, .card__titulo:hover, .tienda__grid__card__titulo:hover, .tienda__titulo:hover, .cursos__grilla__card-titulo:hover, .cursos-titulo:hover {
  animation-name: backcolor;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
@keyframes backcolor {
  0% {
    background-color: #3f3c3c;
  }
  25% {
    background-color: white;
  }
  50% {
    background-color: #3f3c3c;
  }
  75% {
    background-color: white;
  }
  100% {
    background-color: #3f3c3c;
  }
}

.animacion-boton-comprar, .boton-comprar {
  animation-name: backcolor-boton-compra;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
@keyframes backcolor-boton-compra {
  0% {
    background-color: #53a732;
  }
  25% {
    background-color: white;
  }
  50% {
    background-color: #53a732;
  }
  75% {
    background-color: white;
  }
  100% {
    background-color: #53a732;
  }
}

.padding {
  padding: 20px !important;
}

.flex__center, .grilla {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

.barra {
  background: #196e1d;
}
@media screen and (min-width: 980px) {
  .barra {
    position: sticky;
    top: 0;
    z-index: 20;
  }
}
@media screen and (min-width: 980px) {
  .barra__lista {
    text-align: center;
  }
}
.barra__lista__item {
  text-align: center;
}
@media screen and (min-width: 980px) {
  .barra__lista__item {
    display: inline;
  }
}
.barra__lista__item__link {
  font-size: 1.7rem;
  display: inline-block;
  color: #00060a;
  width: 100%;
  padding: 5px;
  border: solid 1px #00060a;
  text-shadow: 3px 4px 3px #3a3b38;
}
@media screen and (min-width: 980px) {
  .barra__lista__item__link {
    padding: 10px 40px 10px 40px;
    width: auto;
    border: none;
  }
}
.barra__lista__item__link:hover {
  background: #f1f3f5;
}

.portada {
  width: 100%;
  position: relative;
}
.portada__titulo {
  font-size: 1.5rem;
  position: absolute;
  top: 3%;
  left: 5%;
  color: rgb(252, 245, 245);
  text-shadow: 10px 7px 3px #638C0B;
}
@media screen and (min-width: 450px) {
  .portada__titulo {
    top: 7%;
    left: 15%;
  }
}
@media screen and (min-width: 768px) {
  .portada__titulo {
    font-size: 3.5rem;
    top: 8%;
    left: 3%;
  }
}
@media screen and (min-width: 980px) {
  .portada__titulo {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 1320px) {
  .portada__titulo {
    font-size: 6rem;
    text-shadow: 15px 17px 10px #638C0B;
  }
}
@media screen and (min-width: 1920px) {
  .portada__titulo {
    font-size: 8.9rem;
    left: 2%;
  }
}
.portada__subtitulo {
  font-size: 1rem;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  position: absolute;
  top: 18%;
  left: 0%;
  color: rgb(252, 245, 245);
  text-shadow: 5px 5px 3px #00060a;
  background-color: rgba(0, 0, 0, 0.466);
}
@media screen and (min-width: 450px) {
  .portada__subtitulo {
    top: 40%;
    padding: 5px;
  }
}
@media screen and (min-width: 768px) {
  .portada__subtitulo {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1920px) {
  .portada__subtitulo {
    font-size: 2.3rem;
  }
}
.portada__picture__imagen {
  width: 100%;
}

.boton-comprar {
  display: block;
  border-radius: 25px;
  border: solid 1px black;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  text-align: center;
  text-shadow: 2px 3px 1px rgba(0, 0, 0, 0.473);
  padding: 8px;
  background-color: rgb(198, 97, 47);
  box-shadow: 10px 10px 10px;
}

.footer {
  border: #00060a solid 3px;
  background-image: url("../imagenes/banner/imagen-principalb.jpg");
  color: rgb(252, 245, 245);
  text-align: center;
}
.footer__div {
  background-color: rgba(0, 0, 0, 0.562);
  width: 100%;
}
.footer__div__titulo {
  padding-top: 1px;
}
.footer__div__link__ico {
  margin: 1.5% 1% 2% 1%;
  background-color: rgba(8, 0, 0, 0.637);
  width: auto;
}
.footer__div__link__ico:hover {
  color: rgb(252, 245, 245);
  font-size: 1.5rem;
}

.bg-whatssap {
  border: rgb(59, 250, 11) 1px solid;
  padding: 5px;
  color: rgb(59, 250, 11);
  font-size: 1rem;
}

.bg-facebook {
  border: rgb(65, 18, 219) 1px solid;
  padding: 5px;
  color: rgb(65, 18, 219);
  font-size: 1rem;
}

.bg-youtube {
  border: rgb(217, 16, 5) 1px solid;
  padding: 5px;
  color: rgb(217, 16, 5);
  font-size: 1rem;
}

.bg-blogger {
  border: rgb(251, 136, 78) 1px solid;
  padding: 5px;
  color: rgb(251, 136, 78);
  font-size: 1rem;
}

.bg-instagram {
  border: #ef0dd1 1px solid;
  padding: 5px;
  color: #ef0dd1;
  font-size: 1rem;
}

.contenedor, .cursos__grilla, .cursos {
  background-color: rgba(99, 140, 11, 0.1098039216);
}
@media screen and (min-width: 768px) {
  .contenedor, .cursos__grilla, .cursos {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: flex-start;
  }
}

.card__titulo, .tienda__grid__card__titulo, .tienda__titulo, .cursos__grilla__card-titulo, .cursos-titulo {
  text-align: center;
  margin-bottom: 8px;
  background-color: rgba(171, 189, 70, 0.514);
}
@media screen and (min-width: 1920px) {
  .card__titulo, .tienda__grid__card__titulo, .tienda__titulo, .cursos__grilla__card-titulo, .cursos-titulo {
    font-size: 2.5rem;
  }
}
.card__parrafo, .cursos__grilla__card-parrafo {
  background-color: rgba(99, 140, 11, 0.1098039216);
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
  margin-bottom: 50px;
  text-align: justify;
}
@media screen and (min-width: 450px) {
  .card__parrafo, .cursos__grilla__card-parrafo {
    padding: 50px;
  }
}
@media screen and (min-width: 1920px) {
  .card__parrafo, .cursos__grilla__card-parrafo {
    font-size: 1.6rem;
  }
}

.card__lista {
  margin-bottom: 50px;
}

.card__lista__item__parrafo {
  background-color: rgba(99, 140, 11, 0.1098039216);
  margin-left: 8px;
  padding: 8px;
  margin-right: 8px;
  margin-bottom: 12px;
  text-align: justify;
}
@media screen and (min-width: 450px) {
  .card__lista__item__parrafo {
    padding: 10px;
  }
}
@media screen and (min-width: 1920px) {
  .card__lista__item__parrafo {
    font-size: 1.6rem;
  }
}

.imagen__picture__respaldo {
  width: 92%;
  border: 5px solid rgb(170, 146, 80);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .card {
    width: 350px;
  }
}
@media screen and (min-width: 980px) {
  .card {
    width: 450px;
  }
}
@media screen and (min-width: 1025px) {
  .card {
    width: 500px;
  }
}
@media screen and (min-width: 1320px) {
  .card {
    width: 650px;
  }
}
@media screen and (min-width: 1920px) {
  .card {
    width: 950px;
  }
}

.card--final {
  width: auto;
}
@media screen and (min-width: 768px) {
  .card--final {
    width: 350px;
  }
}
@media screen and (min-width: 980px) {
  .card--final {
    width: 450px;
  }
}
@media screen and (min-width: 1025px) {
  .card--final {
    width: 500px;
  }
}
@media screen and (min-width: 1320px) {
  .card--final {
    width: 650px;
  }
}
@media screen and (min-width: 1920px) {
  .card--final {
    width: 950px;
  }
}

.card--final__parrafo {
  background-color: rgba(99, 140, 11, 0.1098039216);
  text-align: center;
  padding: 10px;
}
@media screen and (min-width: 1320px) {
  .card--final__parrafo {
    padding: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .card--final__parrafo {
    font-size: 1.6rem;
    padding: 10px;
  }
}

.galeria-titulo {
  background-color: #638C0B;
  color: rgba(171, 189, 70, 0.514);
}
.boton-off {
  color: #3a3b38;
}

.boton-off:hover {
  background-color: #00060a;
}

.texto-calesita {
  box-shadow: 30px 20px 10px #3a3b38;
}
.texto-calesita p {
  background-color: rgba(0, 0, 0, 0.466);
}
.texto-calesita h5 {
  background-color: rgba(0, 0, 0, 0.466);
}

.calesita {
  display: none;
}
@media screen and (min-width: 1320px) {
  .calesita {
    display: block;
  }
}

.mensaje {
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 1.5rem;
  text-align: center;
}

.grilla {
  width: 100%;
  flex-direction: column;
}
@media screen and (min-width: 980px) {
  .grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}
@media screen and (min-width: 1320px) {
  .grilla {
    display: none;
  }
}
.grilla div {
  width: 100%;
  background-color: #00060a;
  height: 400px;
  background-size: cover;
  margin: 8px;
  box-shadow: 20px 20px 20px #3a3b38;
}
.grilla div:hover {
  transform: scale(120%);
  transition: 3s;
}

.img1 {
  background-image: url("../imagenes/galeria/1.jpg");
}

.img2 {
  background-image: url("../imagenes/galeria/2.jpg");
}

.img3 {
  background-image: url("../imagenes/galeria/3.jpg");
}

.img4 {
  background-image: url("../imagenes/galeria/4.jpg");
}

.img5 {
  background-image: url("../imagenes/galeria/5.jpg");
}

.img6 {
  background-image: url("../imagenes/galeria/6.jpg");
}

.img7 {
  background-image: url("../imagenes/galeria/7.jpg");
}

.img8 {
  background-image: url("../imagenes/galeria/8.jpg");
}

.img9 {
  background-image: url("../imagenes/galeria/9.jpg");
}

.img10 {
  background-image: url("../imagenes/galeria/10.jpg");
}

.img11 {
  background-image: url("../imagenes/galeria/11.jpg");
}

.img12 {
  background-image: url("../imagenes/galeria/12.jpg");
}

.img13 {
  background-image: url("../imagenes/galeria/13.jpg");
}

.img14 {
  background-image: url("../imagenes/galeria/14.jpg");
}

.img15 {
  background-image: url("../imagenes/galeria/15.jpg");
}

.img16 {
  background-image: url("../imagenes/galeria/16.jpg");
}

.img17 {
  background-image: url("../imagenes/galeria/17.jpg");
}

.img18 {
  background-image: url("../imagenes/galeria/18.jpg");
}

.img19 {
  background-image: url("../imagenes/galeria/19.jpg");
}

.img20 {
  background-image: url("../imagenes/galeria/20.jpg");
}

.color {
  background-color: rgba(171, 189, 70, 0.514);
}

.cursos-titulo {
  width: 100%;
}
.cursos__grilla__card {
  width: 100%;
  text-align: center;
}
@media screen and (min-width: 980px) {
  .cursos__grilla__card {
    width: 50%;
  }
}
.cursos__grilla__card-parrafo {
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 10px;
}
.cursos__grilla__card-video {
  margin-top: 20px;
  margin-bottom: 40px;
}

.color {
  background-color: rgba(171, 189, 70, 0.514);
}

.tienda {
  background-color: rgba(99, 140, 11, 0.1098039216);
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #00060a;
  box-shadow: 10px 10px 10px rgba(99, 140, 11, 0.1098039216);
}
.tienda__titulo {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}
.tienda__grid {
  background-color: rgba(62, 68, 50, 0.2470588235);
}
@media screen and (min-width: 768px) {
  .tienda__grid {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-items: center;
  }
}
@media screen and (min-width: 1025px) {
  .tienda__grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  .tienda__grid__card {
    width: 50%;
  }
}
@media screen and (min-width: 1025px) {
  .tienda__grid__card {
    width: 100%;
  }
}
.tienda__grid__card__titulo {
  margin-top: 15px;
  margin-left: 40px;
  margin-right: 40px;
}
.tienda__grid__card__parrafo {
  margin-left: 60px;
  margin-right: 60px;
  padding-bottom: 30px;
}
.tienda__grid__card__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20;
  border: 2px solid #00060a;
  margin-bottom: 50px;
}

/*# sourceMappingURL=estilo.css.map */
