.tienda{
    background-color:$color-verde-transparente;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid $color-negro;
    box-shadow: 10px 10px 10px $color-verde-transparente;
    &__titulo{
        @extend .card__titulo;
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    &__grid{
        background-color: $color-gris2;
        @include siete_seis_px{
            display: flex;
            flex-direction:column;
            flex-flow: wrap;
            align-items: center;
            justify-items: center;
        }
        @include diez_veinticinco_px {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 20px;
        }
        &__card{
            @include siete_seis_px{
                width: 50%;
            }
            @include diez_veinticinco_px {
                width: 100%;
            }
            &__titulo{
                @extend .card__titulo;
                margin-top: 15px;
                margin-left:40px ;
                margin-right: 40px;
            }
            &__parrafo{
                margin-left: 60px;
                margin-right: 60px;
                padding-bottom: 30px;
            }
            &__img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20;
                border: 2px solid $color-negro;
                margin-bottom: 50px;
            }
        }
    }
}