.animacion-titulo{
    @keyframes backcolor{
        0%{
            background-color: #3f3c3c;
        }
        25%{
            background-color: white;
        }
        50%{
            background-color: #3f3c3c; 
        }
        75%{
            background-color: white;
        }
        100%{
            background-color: #3f3c3c;
        }
    }
    animation-name: backcolor;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.animacion-boton-comprar{
    @keyframes backcolor-boton-compra{
        0%{
            background-color: #53a732;
        }
        25%{
            background-color: white;
        }
        50%{
            background-color: #53a732;
        }
        75%{
            background-color: white;
        }
        100%{
            background-color: #53a732;
        }
    }
    animation-name: backcolor-boton-compra;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

