.contenedor{
    background-color:$color-verde-transparente;
    @include siete_seis_px{
        width: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content:stretch;
        justify-content: space-around;
        align-items: flex-start;
    }
}
.card__titulo{
    text-align: center;
    margin-bottom: 8px;
    background-color: $color-transparencias;
    @include diecinueve_veinte_px{
        font-size: 2.5rem;
    }
    &:hover{
        @extend .animacion-titulo;
    }
}
.card__parrafo{
    background-color: $color-verde-transparente;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    margin-bottom: 50px;
    text-align: justify;
    @include cuatro_cincuenta_px{
        padding: 50px;
    }
    @include diecinueve_veinte_px{
        font-size: 1.6rem;
    }
}
.card__lista{
margin-bottom: 50px;
}
.card__lista__item__parrafo{
    background-color: $color-verde-transparente;
    margin-left: 8px;
    padding: 8px;
    margin-right: 8px;
    margin-bottom: 12px;
    text-align: justify;
    @include cuatro_cincuenta_px{
        padding: 10px;
    }
    @include diecinueve_veinte_px{
        font-size: 1.6rem;
    }
}
.imagen__picture__respaldo{
    width: 92%;
    border: 5px solid $color-borde;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}
.card{
    @include siete_seis_px{
        width: 350px;
    }
    @include nueve_ochenta_px{
        width: 450px;
    }
    @include diez_veinticinco_px{
        width: 500px;
    }
    @include trece_veinte_px{
        width: 650px;
    }
    @include diecinueve_veinte_px{
        width: 950px;
    }
}
.card--final{
    width: auto;
    @include siete_seis_px{
        width: 350px;
    }
    @include nueve_ochenta_px{
        width: 450px;
    }
    @include diez_veinticinco_px{
        width: 500px;
    }
    @include trece_veinte_px{
        width: 650px;
    }
    @include diecinueve_veinte_px{
        width: 950px;
    }
    
}
.card--final__parrafo{
    background-color: $color-verde-transparente;
    text-align: center;
    padding: 10px;
    @include trece_veinte_px{
        padding: 20px;
    }
    @include diecinueve_veinte_px{
        font-size: 1.6rem;
        padding: 10px;
    }
}